* {
    margin: 0;
    padding: 0;
}

p,
h2,
h1 {
    color: #533738;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

.section_header_menu {
    background: url("../img/back/list_one_background.jpg") center center/cover no-repeat;
    min-height: 715px;
}

.logo_scandi {
    padding-left: 98px;
    padding-top: 36px;
    display: flex;
}

.scandi_link_text {
    padding-top: 3px;
}

.scandi_link {
    text-decoration: none;
    text-transform: uppercase;
}

.header_menu_list {
    display: flex;
    margin-bottom: 20px;
    list-style-type: none;
    justify-content: space-between;
    margin-top: -22px;
}

.menu_wrapper {
    justify-content: space-between;
    max-width: 844px;
    margin: 0 auto;
    padding-bottom: 94px;
}

.number {
    position: absolute;
    top: 36px;
    right: 120px;
}

.header_menu_link {
    text-decoration: none;
}

.header_menu_link_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.support_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
    max-width: 450px;
    padding-bottom: 24px;
}

.wrapper_main {
    max-width: 1036px;
    margin: 0 auto;
}

.text_info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    max-width: 380px;
    padding-bottom: 21px;
}

.button_request {
    width: 309.14px;
    height: 74px;
    border: none;
    background: rgba(204, 139, 134, 1);
    transition: 0.5s;
}

.button_request:hover {
    background: rgb(204, 167, 164);
    transition: 0.5s;
    cursor: pointer;
}

._button_request {
    color: black;
}

.button_request_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #533738;
}

.about_us {
    background: rgba(239, 230, 228, 1);
    min-height: 650px;
    max-width: 100%;
}

.about_us_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    padding-top: 65px;
}

.about_cotent_block {
    padding-top: 65px;
    display: flex;
}

.about_us_text {
    padding-left: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 528px;
}

.how_many {
    min-height: 273px;
    background: #8D7370;
}

.how_many_container {
    display: flex;
    justify-content: space-between;
    padding-top: 106px;
}

.how_many_title {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
}

.how_many_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our_work {
    background: rgba(239, 230, 228, 1);
    min-height: 1219px;
}

.our_work_wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.our_work_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    padding-top: 56px;
    padding-bottom: 40px;
}

.our_work_image_content_block {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.our_work_image_content_block-content {
    overflow: hidden;
}

.boxImg {
    overflow: hidden;
    transition: .5s;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.container:before,
.container:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(100, 72, 69, 0.8);
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

.boxImg:hover img {
    /* transform: rotate(0deg) scale(2); */
    /* filter: blur(2px); */
    transition: .5s;
    cursor: pointer;
}

.boxImg:hover {
    opacity: 1;
    transition: .5s;
}

.boxImg:hover .container::before {
    /* transform: translateX(155%) rotate(45deg) scale(2); */
    transition: .5s;
    opacity: .6;
}

.boxImg:hover .container::after {
    /* transform: translateX(60%) rotate(45deg) scale(2); */
    transition: .5s;
    opacity: .6;
    cursor: pointer;
}

.boxImg:hover .text h1 {
    transform: scale(1);
}

.boxImg:hover .text p {
    transform: scale(1);
    opacity: 1;
}

.text {
    position: absolute;
    top: 20%;
    color: #e9e8e8;
    text-align: center;
    z-index: 10;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    transform: scale(0);
    transition: .5s;
    color: rgb(248, 245, 245);
}

.text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 100px;
    text-align: justify;
    transform: scale(2);
    transition: .5s;
    opacity: 0;
    color: rgb(248, 245, 245);
}

.our_work_watch_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #533738;
    background: url('../img/icons/raight_arrow_our_work.svg') no-repeat 740px 12px;
    cursor: pointer;
    padding-bottom: 40px;
}

.team{
    background: #E2C4BA;
    min-height: 988px;
}

.team_container-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.team_image_container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.team_image_text{
    max-width: 320px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.reviews{
    background: #efe6e4;
    min-height: 790px;
}

.reviews_slider{
    
}

.button_reviews_slider{
    display: flex;
}

.reviews_title-block h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    padding-top: 50px;
}

.reviews_slider_click{
    background: #CC8B86;
    background-image: url("../img/icons/left_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
    border: none;
    border-radius: 50%;
    padding-right: 29px;
}

.reviews_slider_click:hover{
    background: #8D7370;
    background-image: url("../img/icons/left_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.reviews_slider_click:last-child{
    float: right;
    background-image: url("../img/icons/raight_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.reviews_slider_click:last-child:hover{
    background: #8D7370;
    background-image: url("../img/icons/raight_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.rebiews_text{
    max-width: 407px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}


